@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #224263;
  width: auto;
  padding:12px;
  border-top:3px solid #5bbfe8;

}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color:#18a7ae;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color:#e40f5c;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: black;
  opacity: .3;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #18a7ae;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
#contact-wrapper{
	text-align:center;
	margin-top:3%;
	font-size:110%;
}

iframe{
	width:100%;
	
	border-top:4px solid black;
	margin-bottom:10px;
}
#cssmenu-wrapper{
	background-color:#ccc0c1;
	height:10%;
	width:100%;
}
#club-name{
	padding-bottom:3px;
}
body{
	margin:0;
	background:#EA4C89;
}

/*Main footer*/
#footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background: #b0cfd3;
    height: auto;
	text-align:center;
	padding:5px;
}
#footer ul {
    width: 750px;
    margin: 0 auto;
    padding:5px;
}
#footer ul li {
    list-style-image: none;
    display: inline-block;
    font: 14px/11px 'Droid Sans', sans-serif;
    margin: 0 23px 0 0;
}
#designer{
	text-decoration:none;    
	color:black;
}
#footer span div a{
	color:#7d7a95;
}
#footer span div a:hover{
	color:#b7574e;
}
#footer ul li:last { margin: 0; }
#footer img{
	height:40px;
	width:40px;
}
#social-media{
	float:right;
	clear:right;
	margin-right:20px;
}
#social-media a{
	padding:10px;
}

#designer-align{
	text-align:center;
}
 .glyphicon-plus {
       color:pink; 
   }
